In [1]:
import pandas as pd
from pathlib import Path

DATA = Path('/Users/henglyaun/ANA500/Data')
dfraw = pd.read_csv(DATA / 'cost-of-living_v2.csv')

#Source of data:
    # https://www.kaggle.com/datasets/mvieira101/global-cost-of-living
    # https://www.numbeo.com/cost-of-living/

In [ ]:
Dataset Dictionary: Column	Description
city	Name of the city
country	Name of the country
x1	Meal, Inexpensive Restaurant (USD)
x2	Meal for 2 People, Mid-range Restaurant, Three-course (USD)
x3	McMeal at McDonalds (or Equivalent Combo Meal) (USD)
x4	Domestic Beer (0.5 liter draught, in restaurants) (USD)
x5	Imported Beer (0.33 liter bottle, in restaurants) (USD)
x6	Cappuccino (regular, in restaurants) (USD)
x7	Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)
x8	Water (0.33 liter bottle, in restaurants) (USD)
x9	Milk (regular), (1 liter) (USD)
x10	Loaf of Fresh White Bread (500g) (USD)
x11	Rice (white), (1kg) (USD)
x12	Eggs (regular) (12) (USD)
x13	Local Cheese (1kg) (USD)
x14	Chicken Fillets (1kg) (USD)
x15	Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)
x16	Apples (1kg) (USD)
x17	Banana (1kg) (USD)
x18	Oranges (1kg) (USD)
x19	Tomato (1kg) (USD)
x20	Potato (1kg) (USD)
x21	Onion (1kg) (USD)
x22	Lettuce (1 head) (USD)
x23	Water (1.5 liter bottle, at the market) (USD)
x24	Bottle of Wine (Mid-Range, at the market) (USD)
x25	Domestic Beer (0.5 liter bottle, at the market) (USD)
x26	Imported Beer (0.33 liter bottle, at the market) (USD)
x27	Cigarettes 20 Pack (Marlboro) (USD)
x28	One-way Ticket (Local Transport) (USD)
x29	Monthly Pass (Regular Price) (USD)
x30	Taxi Start (Normal Tariff) (USD)
x31	Taxi 1km (Normal Tariff) (USD)
x32	Taxi 1hour Waiting (Normal Tariff) (USD)
x33	Gasoline (1 liter) (USD)
x34	Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)
x35	Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)
x36	Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)
x37	1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)
x38	Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)
x39	Fitness Club, Monthly Fee for 1 Adult (USD)
x40	Tennis Court Rent (1 Hour on Weekend) (USD)
x41	Cinema, International Release, 1 Seat (USD)
x42	Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)
x43	International Primary School, Yearly for 1 Child (USD)
x44	1 Pair of Jeans (Levis 501 Or Similar) (USD)
x45	1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)
x46	1 Pair of Nike Running Shoes (Mid-Range) (USD)
x47	1 Pair of Men Leather Business Shoes (USD)
x48	Apartment (1 bedroom) in City Centre (USD)
x49	Apartment (1 bedroom) Outside of Centre (USD)
x50	Apartment (3 bedrooms) in City Centre (USD)
x51	Apartment (3 bedrooms) Outside of Centre (USD)
x52	Price per Square Meter to Buy Apartment in City Centre (USD)
x53	Price per Square Meter to Buy Apartment Outside of Centre (USD)
x54	Average Monthly Net Salary (After Tax) (USD)
x55	Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate
data_quality	0 if Numbeo considers that more contributors are needed to increase data quality, else 1

In [4]:
# Quick overview of the data
print("Datase shape:", dfraw.shape,"\n")
dfraw.head()

Datase shape: (4956, 58)

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,110.36,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,123.51,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,43.89,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,41.17,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,36.50,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1

In [5]:
print(dfraw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4956 entries, 0 to 4955
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          4956 non-null   object
 1   country       4956 non-null   object
 2   x1            4528 non-null   float64
 3   x2            4505 non-null   float64
 4   x3            4622 non-null   float64
 5   x4            4460 non-null   float64
 6   x5            4516 non-null   float64
 7   x6            4612 non-null   float64
 8   x7            4511 non-null   float64
 9   x8            4640 non-null   float64
 10  x9            4578 non-null   float64
 11  x10           4543 non-null   float64
 12  x11           4613 non-null   float64
 13  x12           4449 non-null   float64
 14  x13           4478 non-null   float64
 15  x14           4398 non-null   float64
 16  x15           4390 non-null   float64
 17  x16           4584 non-null   float64
 18  x17           4575 non-null   float64
 19  x18           4515 non-null   float64
 20  x19           4487 non-null   float64
 21  x20           4519 non-null   float64
 22  x21           4523 non-null   float64
 23  x22           4455 non-null   float64
 24  x23           4568 non-null   float64
 25  x24           4494 non-null   float64
 26  x25           4235 non-null   float64
 27  x26           4301 non-null   float64
 28  x27           4466 non-null   float64
 29  x28           3450 non-null   float64
 30  x29           2790 non-null   float64
 31  x30           4083 non-null   float64
 32  x31           3934 non-null   float64
 33  x32           3560 non-null   float64
 34  x33           4368 non-null   float64
 35  x34           3898 non-null   float64
 36  x35           3961 non-null   float64
 37  x36           4468 non-null   float64
 38  x37           3755 non-null   float64
 39  x38           4607 non-null   float64
 40  x39           3581 non-null   float64
 41  x40           2556 non-null   float64
 42  x41           4481 non-null   float64
 43  x42           3824 non-null   float64
 44  x43           3275 non-null   float64
 45  x44           4477 non-null   float64
 46  x45           4339 non-null   float64
 47  x46           4453 non-null   float64
 48  x47           4403 non-null   float64
 49  x48           3593 non-null   float64
 50  x49           3525 non-null   float64
 51  x50           3476 non-null   float64
 52  x51           3444 non-null   float64
 53  x52           2729 non-null   float64
 54  x53           2653 non-null   float64
 55  x54           3524 non-null   float64
 56  x55           3950 non-null   float64
 57  data_quality  4956 non-null   int64
dtypes: float64(55), int64(1), object(2)
memory usage: 2.2+ MB
None

In [6]:
# Check for missing values
missing_values = dfraw.isnull().sum()
percentage_missing = (missing_values / len(dfraw)) * 100
print(pd.DataFrame({'missing': missing_values, 'pc_missing': percentage_missing.round(2)}))

              missing  pc_missing
city                0        0.00
country             0        0.00
x1                428        8.64
x2                451        9.10
x3                334        6.74
x4                496       10.01
x5                440        8.88
x6                344        6.94
x7                445        8.98
x8                316        6.38
x9                378        7.63
x10               413        8.33
x11               343        6.92
x12               507       10.23
x13               478        9.64
x14               558       11.26
x15               566       11.42
x16               372        7.51
x17               381        7.69
x18               441        8.90
x19               469        9.46
x20               437        8.82
x21               433        8.74
x22               501       10.11
x23               388        7.83
x24               462        9.32
x25               721       14.55
x26               655       13.22
x27               490        9.89
x28              1506       30.39
x29              2166       43.70
x30               873       17.62
x31              1022       20.62
x32              1396       28.17
x33               588       11.86
x34              1058       21.35
x35               995       20.08
x36               488        9.85
x37              1201       24.23
x38               349        7.04
x39              1375       27.74
x40              2400       48.43
x41               475        9.58
x42              1132       22.84
x43              1681       33.92
x44               479        9.67
x45               617       12.45
x46               503       10.15
x47               553       11.16
x48              1363       27.50
x49              1431       28.87
x50              1480       29.86
x51              1512       30.51
x52              2227       44.94
x53              2303       46.47
x54              1432       28.89
x55              1006       20.30
data_quality        0        0.00

In [7]:
display(dfraw.describe(include='all'))

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
count,4956,4956,4528.000000,4505.000000,4622.000000,4460.000000,4516.000000,4612.000000,4511.000000,4640.000000,...,4403.000000,3593.000000,3525.000000,3476.000000,3444.000000,2729.000000,2653.000000,3524.000000,3950.000000,4956.000000
unique,4898,215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Victoria,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,4,1073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,10.346705,43.357811,6.929697,3.379774,3.942465,2.754952,1.523873,1.119804,...,85.976357,711.574943,560.159957,1253.982914,974.082854,3235.270854,2341.933102,1821.186305,6.518030,0.186239
std,NaN,NaN,7.157058,25.528312,2.704435,2.105957,2.100146,1.358821,0.907025,0.755257,...,40.434524,648.869301,527.492342,1219.395297,921.331271,6258.792897,3570.623878,1631.465580,5.413828,0.389339
min,NaN,NaN,0.450000,3.250000,1.080000,0.330000,0.310000,0.220000,0.110000,0.070000,...,7.600000,21.700000,12.200000,61.510000,27.120000,111.010000,49.240000,18.000000,0.780000,0.000000
25%,NaN,NaN,4.310000,22.440000,4.980000,1.600000,2.200000,1.580000,0.770000,0.480000,...,58.430000,256.240000,171.050000,465.200000,325.710000,1120.110000,790.310000,478.980000,3.000000,0.000000
50%,NaN,NaN,9.600000,40.000000,6.990000,3.000000,3.690000,2.630000,1.480000,1.050000,...,84.260000,526.870000,403.940000,921.075000,712.830000,2107.490000,1580.620000,1290.840000,5.200000,0.000000
75%,NaN,NaN,15.000000,60.000000,8.500000,5.000000,5.270000,3.770000,2.110000,1.580000,...,106.770000,992.610000,790.310000,1710.225000,1369.870000,3843.380000,2798.250000,2770.855000,8.330000,0.000000
max,NaN,NaN,57.140000,213.690000,22.130000,20.600000,17.500000,10.000000,8.000000,5.850000,...,542.740000,12608.830000,8989.370000,27397.380000,17868.180000,240963.670000,80321.220000,12821.400000,61.330000,1.000000

In [8]:
df2= dfraw.dropna()
df2

,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,...,110.36,742.54,557.52,2669.12,1731.08,22067.70,10971.90,2689.62,3.47,1
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,...,123.51,1091.93,569.88,2952.70,1561.59,17746.11,9416.35,1419.87,5.03,1
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,...,43.89,533.28,317.45,1242.24,688.05,12892.82,5427.45,1211.68,5.19,1
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,...,41.17,522.40,294.05,1411.12,699.80,6092.45,2777.51,640.81,7.96,1
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,...,36.50,229.84,135.31,601.02,329.15,2506.73,1036.74,586.46,8.06,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4809,Gig Harbor,United States,12.00,40.00,10.50,7.00,6.00,5.21,2.48,1.94,...,101.67,1800.00,2000.00,3000.00,2400.00,3821.19,2852.44,4500.00,5.23,0
4826,Lysa nad Labem,Czech Republic,4.33,32.40,5.19,1.25,2.29,2.15,1.24,0.97,...,73.50,605.62,410.96,854.36,583.99,3028.10,1297.76,634.46,7.00,0
4928,Murovani Kurylivtsi,Ukraine,2.72,12.24,2.69,0.68,1.09,0.68,0.24,0.14,...,61.19,108.79,95.19,163.18,122.38,237.97,231.17,365.79,13.05,0
4945,Tirupati,India,2.46,9.21,4.30,2.21,3.07,1.47,0.46,0.14,...,37.25,82.90,61.41,184.23,128.96,661.00,396.60,614.09,7.97,0
4950,Egilsstadhir,Iceland,17.01,70.87,8.50,4.25,3.54,3.90,1.77,1.42,...,146.00,637.85,531.54,1700.92,1417.43,2019.84,1771.79,2480.51,5.00,0